@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #ededed;
  --dark: #0a0a0a;
  --sidebar-dark: #52525b;
  --sidebar-light: #e5e7eb;
}

.light {
  color: var(--dark);
  background-color: var(--light);
}

.dark {
  color: var(--light);
  background-color: var(--dark);
}

.dark-sidebar {
  background-color: var(--sidebar-dark);
  color: var(--sidebar-light);
}

.light-sidebar {
  background-color: var(--sidebar-light);
  color: var(--sidebar-dark);
}